body {
    background-color: #f2f2f2;
}

.dashboard-header {
    text-align: center;
    background-color: #2a79cd;
    color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.dashboard-header h1 {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.sidebar {
    background-color: #34495e;
    height: 100vh;
    /* width: 60px; */
    color: #fff;
    padding: 20px;
}


.sidebar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    color: #ffc107;
}
  
.content {
    padding: 20px;
}

#asd {
    padding-top: 30px;
    padding-left: 10px;
}
  
.card {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.ts {
    background-color: rgb(200, 34, 34);
}

.to {
    background-color: rgb(203, 221, 39);
}

.tc {
    background-color: rgb(38, 220, 217);
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px;
}
  